
#Heading {

	height: 120px;
	background-color: rgba( 255, 0, 0, 0.65);
	color: white;
	text-align: right;
	padding-right: 20px;
	padding-top: 2px;
	line-height: 50%;
	text-decoration: bold;
}

#Content {

	margin-left: 90px;
	position: relative;
}

body {

	background-color: rgba( 0, 0, 0, 0.65);
	color: white;
	margin: 0px 0px 10px 0px;
}

#codeDisplay {

	margin-left: 270px;
	position: relative;
	font-size: 15px;
	overflow: auto;
	resize:none;
}

#head {

	text-decoration: bold;
	font-size: 25px;
}